# Dependencies
node_modules/

# Build outputs
dist/
dist-installer/
build-installer/app/
build/

# Media Downloads & Temporary Files
downloads/
*.part*
*.log

# Environment variables
.env
.env.local

# IDE and OS metadata
.vscode/
.idea/
.DS_Store
Thumbs.db
